@import '../../styles/colors.scss';

$pinkPrimaryFilter: invert(23%) sepia(63%) saturate(4954%) hue-rotate(328deg) brightness(96%) contrast(102%);

$blackFilter: brightness(0);

.category-card-container {
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  font-weight: 500;
  line-height: 24px;
  cursor: pointer;

  .category-card {
    height: 128px;
    width: 128px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: $grayBackgroundCard;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.13);

    img {
      height: 61px;
      filter: $blackFilter;
    }
  }

  &.category-card-selected {
    color: $pinkPrimary;

    .category-card {
      background-color: $white;
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.22);

      img {
        filter: $pinkPrimaryFilter;
      }
    }
  }
}
