$white: #ffffff;
$black: #000000;

$blackModal: #222222;

$grayDividerFull: #f0f0f0;
$grayDividerHalf: #dedede;

$grayTextLight: #9f9f9f;
$grayTextMedium: #4e4e4e;
$grayTextDark: #3f3f40;

$grayBackgroundInput: #f6f5f2;
$grayBackgroundCard: #f4f4f4;

$grayCategoryBorder: #bdbdbd;
$grayCategory: #3b3b3b;
$grayOldPrice: #808080;

$grayFooter: #2a2a2a;
$grayFooterSecondary: #c0c0c0;

$pinkPrimary: #f71963;
$pinkPrimaryHover: #ff1e77;
$bluePrimary: #041e50;
